*{
    margin: 0;
    padding: 0;
font-family:Raleway,sans-serif;
color:white;

}
body{
    background-color: #f8f9fa;

}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height:100vh;
    min-height: 300px;
}
.nav-item a{
   font-size: 16px;
   font-family:Raleway,sans-serif;
   font-weight: 500;
  color:#444444;
}
.navbar-nav{
  gap: 25px;

  letter-spacing: 1px;

   
}
.nav-item a:hover{
   color:#c4bdbd;
}
#about_start{
  width: 80%; 
  margin: auto;
}
#about_start h3{
 color: #444444;

}

.container button a:hover{
    color:white;

}
.container button a{
text-decoration: none;
color: #fff;

}
.skills,.skills-content{
  margin: 80px auto;
}
.section-title{
  text-align: center;
    
}
.skills .progress{
 
  height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  
}
.skills .progress-bar{
  height: 10px;
    transition: 0.9s ease;
    background-color: #34b7a7;
}
.skills .progress-bar-wrap{
  background-color: #F3F3F3;
}
.skills,h1,p,.skill,.val{
  color: #444444;
}

 #pic::before{
  content: "";
  background-image: url("front.png");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.7);
}

@media  (max-width: 3000px) {
  #pic{
    margin-top: 35vh;
    text-align: -webkit-center;
}
}
.navbar-toggler i{
  color: black;
  border: 1px solid black;
  padding: 4px 8px;
  border-radius: 5px;
}
.navbar-toggler {
 
  padding: 0;

}
nav ul{
  padding-right: 154px;
}
.container #typing{
 padding-bottom: 20px;
}
.container #intro{
  color: #fff;
  font-weight: 600;
}
.container h1{
  font-weight: 300 !important;
  color: #444444;
}
nav{
  background-color: #F3F3F3;
}
#featured-3 img{
  height: 3.5rem;
  width: 3.5rem;

}
